.database-select-button-container {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 1rem;
  
    padding: 10px;
  
    border: solid 4px #adb5bd;
    border-radius: 15px;
  
    cursor: pointer;
    user-select: none;
}

.selected {
    border-color: #00b4d8;
    box-shadow: 5px 5px 5px -2px #adb5bd;
  }
  
.disabled {
    cursor: default;
    background-color: #e9ecef;
}